<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>erreur 404</title>
  <link rel="stylesheet" href="/css/search.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/filmrea.css">
</head>
<body>
<header>
  <div class="logo">
    <H1><a href="/">DATACINE</a></H1>
  </div>

  <div class="search">
    <input type="text" id="search-input" placeholder="Rechercher votre film">

    <button> <input type="submit" value="Envoyer" onclick="window.location.href='/search/' + document.getElementById('search-input').value;">
    </button>
    <ul id="search-results"></ul>
    <script src="/js/search.js"></script>
    <script src="/js/filmrea.js"></script>

  </div>
  <div class="login">
    <p> retour : </p>
    <a href="/">home</a>
  </div>


  </div>
</header>
<p>Vous êtes perdu sur notre site ou un contenu a été supprimé</p>
</body>

</html>