<!DOCTYPE html>
<html>
<head>
  <title>Cinéma - Page d'accueil</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
  <div class="logo">
    <H1>DATACINE</H1>
  </div>


        <div class="search">
          <input type="text" id="searchBox">
          <input type="submit" value="Envoyer" onclick="window.location.href='/search/' + document.getElementById('searchBox').value;">

        </div>

  <div class="login">
    <a href="/connexion">Se connecter</a>
    <a href="/inscription">S'inscrire</a>
  </div>
</header>
  <title>Tableau avec images cliquables</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>
  <table>
    <tr th:each="d : ${data}">
      <td th:utext="${d.gethtml()}"></td> <!-- Utiliser la méthode getHtml() pour récupérer le HTML -->
    </tr>
  </table>




  <footer>

</footer>
</body>
</html>
